{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<section class="card">
    <div class="page-title">
        <h2>Dashboard de Encomendas</h2>
    </div>

    <div class="dashboard">
        <div class="circle-card">
            <div class="circle total">
                {{ total_encomendas }}
            </div>
            <h3>Total</h3>
        </div>

        <div class="circle-card">
            <div class="circle pendentes">
                {{ total_pendentes }}
            </div>
            <h3>Pendentes</h3>
        </div>

        <div class="circle-card">
            <div class="circle retiradas">
                {{ total_retiradas }}
            </div>
            <h3>Retiradas</h3>
        </div>
    </div>
</section>
{% endblock %}